{
  "addons": {
    "lidia-annotations@cdh.uu.nl": {
      "updates": [
        {
          "version": "0.2.0",
          "update_link": "https://github.com/CentreForDigitalHumanities/lidia-zotero/releases/download/v0.2.0/lidia-annotations-0.2.0.xpi",
          "update_hash": "sha256:e72144c57b72e3bf4caf7334bfcac64b78333745f6e79c36fa8a262ca81870c0",
          "applications": {
            "gecko": {
              "strict_min_version": "60.9"
            },
            "zotero": {
              "strict_min_version": "6.999",
              "strict_max_version": "7.0.*"
            }
          }
        }
      ]
    }
  }
}
