{
  "addons": {
    "lidia-annotations@dig.hum.uu.nl": {
      "updates": [
        {
          "version": "0.1.0",
          "update_link": "https://dhstatic.hum.uu.nl/LIDIA/releases/lidia-zotero_v0.1.0.xpi",
          "update_hash": "sha256:e72144c57b72e3bf4caf7334bfcac64b78333745f6e79c36fa8a262ca81870c0",
          "applications": {
            "gecko": {
              "strict_min_version": "60.9"
            },
            "zotero": {
              "strict_min_version": "6.999",
              "strict_max_version": "7.0.*"
            }
          }
        }
      ]
    }
  }
}
